<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Для /api и /storage - в /public
    RewriteRule ^(api|storage)(/.*)?$ public/$1$2 [L]
    
    # Для всего остального - прокси
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ http://localhost:3030/$1 [P,L]
</IfModule>